<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
 	<script src="./node_modules/vue/dist/vue.js"></script>
	 <div id="app">
		    <!--只渲染一次 一次之后就是静态的html   -->
		   <div v-once>{{msg}}</div>
			 {{msg}}
			 <!-- 永远不要相信用户输入 防止xss攻击 使用v-html的时候要确保内容是安全的 -->
			 <input type="text"  v-model='html'>
			 <div v-html='html'></div>
			 <!-- template是vue提供的一个无意义的标签 不会编译出来  v-if 本质上还是操作dom-->
			 <template v-if="true"> 
			  <div></div>我是if</div>
			  <div> 我是if2</div>
			 </template>
			 <div v-else>我是else</div>
			 <!-- v-show  不能用在template上面 display:none/block-->
			   <div v-show='true'> 我是show</div>
				 <div v-color="'blue'">自定义</div>

		    <p v-pin="200">Stick me 200px from the top of the page</p>
				 <!-- v-for 可以循环 数组（数组） 数字 对象  尽量不要使用索引作为key key的主要作用是做domdiff  v-for和v-if不要一个标签上面连用  v-if 写里面  v-for >v-if   -->
				  <div v-for='(item,index) in arr' :key="index" >
						 <div v-if='index==2'>
             {{item}}
						 </div>
					</div>
				

					
					  
					  
		 </div>

	 <script>
	
	  let vm = new Vue({
			  // el:"#app",
			 // template模式下 data 只能是函数 
			 // data里面的属性会被definproperty 劫持  就会有getter和setter  但是后添加的属性是没有getter和setter的 
			 data:{
				html:'',
				 msg:'hello',
				 a:{
					 c:{}
				 },
				 arr:[1,2,3]
				},
		
		})
Vue.directive('color',{
		 bind(el,binding){
         console.log(el)
				 el.style.color =binding.value 
		 }
	 })

Vue.directive('pin', {
  bind: function (el, binding, vnode) {
    el.style.position = 'fixed'
    el.style.top = binding.value + 'px'
  }
})
		vm.$mount("#app") 
	  vm.msg = 'world'

		
	 </script>
</body>
</html>